.navbar-brand > img {
    display: inline-block;
    margin-top: -4px;
}

td.actions {
    white-space: nowrap;
}

#monitoring .device {
    margin: 35px 0 50px;;
}

#monitoring .device .plot {
    height: 300px;
    width: 50%;
    float: left;
}
